{% extends "dashboard.html" %}

{% block conteudo %}  
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="{{url('admin/dashboard')}}">
                Admin
            </a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">
            Clientes
        </li>
    </ol>
</nav>
<div class="card border-0 shadow-sm">
    <div class="card-body">
        <form action="{{url('admin/clientes/cadastrar')}}" method="post">
            <div class="mb-3">
                <label for="nome_cliente" class="form-label">Nome Cliente</label>
                <input type="text" name="nome" id="nome" class="form-control">
            </div>
            <div class="mb-3">
                <label for="endereco_cliente" class="form-label">Endereço</label>
                <textarea name="endereco" id="endereco" class="form-control" rows="3"></textarea>
            </div>
            <div class="mb-3">
                <label for="bairro_cli" class="form-label">Bairro</label>
                <input type="text" name="bairro" id="bairro" class="form-control"></input>             
            </div>
            <div class="mb-3">
                <label for="cidade_cli" class="form-label">Cidade</label>
                <input type="text" name="cidade" id="cidade" class="form-control"></input>
            </div>
            <div class="mb-3">
                <label for="estado_cli" class="form-label">Estado</label>
                <input type="text" name="estado" id="estado" class="form-control"></input>
            </div>
                            
            <div class="mb-3">
                <label for="telefone_cli" class="form-label">Telefone</label>
                <input type="text" name="telefone" id="telefone" class="form-control"></input>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="mb-3">
                        <label for="categoria_id" class="form-label">Categoria</label>
                        <select class="form-select" name="id_tbl_Receita" id="id_tbl_Receita">
                            {% for receita in receitas %}
                            <option value="{{receita.id_tbl_Receita}}" {% if post.categoria_id == categoria.id %}selected{%endif%}>{{cliente.nome_receita}}</option>
                            {%endfor%}
                        </select>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="mb-3">
                        <label for="status" class="form-label">Status</label>
                        <select class="form-select" name="status">
                           <option value="1" {% if cliente.status == '1' %}selected{%endif%}>Ativo</option>
                <option value="0" {% if cliente.status == '0' %}selected{%endif%}>Inativo</option>
                        </select>
                    </div>
                </div>
            </div>
            <input type="submit" class="btn btn-primary" value="Cadastrar">
        </form>
    </div>    
</div>
{% endblock %}