{% extends "dashboard.html" %}

{% block conteudo %}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="{{url('admin/dashboard')}}">
                Admin & Usuários
            </a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">
            Controle de Estoque e Gerenciador de Compras
        </li>
    </ol>
</nav>


{{ flash() }}

<div class="shadow-sm">
    <div class="row">
        <div class="col-xl-6 col-xxl-5 mb-4 d-flex">
            <div class="w-100">
                <div class="row">
                    <!--INICIO **INVENTÁRIO DE ESTOQUE M.PRIMA-->
                    <div class="col-sm-6">
                        <div class="card border-0 shadow-sm mb-3">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col">
                                        <h6 class="fw-bold text-secondary">INVENTÁRIO<BR>ESTOQUE</h6>
                                    </div>
                                    <div class="col-auto text-secondary">
                                        <a href="{{url('admin/posts/cadastrar')}}" tooltip="tooltip" title="Cadastrar Inventário">
                                            <i class="fa-solid fa-file-pen"></i>
                                        </a>
                                        <a href="{{url('admin/posts/cadastrar')}}" tooltip="tooltip" title="Consultar Inventário">
                                            <i class="fa-solid fa-list"></i>
                                        </a>
                                    </div>
                                </div>
                                <i class="fa-solid fa-cubes-stacked fa-3x"></i> <i class="fa-solid fa-magnifying-glass fa-beat"></i>
                                <h1 class="mt-1 mb-3">{{posts.total}}</h1>
                            </div>
                        </div>                                   
                    </div>
                    <!--FIM INVENTÁRIO-->

                    <!--INICIO ** CADASTRO DE MATÉRIA PRIMA-->
                    <div class="col-sm-6">
                        <div class="card border-0 shadow-sm mb-3">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col">
                                        <h6 class="fw-bold text-secondary">MATÉRIA PRIMA</h6>
                                    </div>
                                    <div class="col-auto text-secondary">
                                        <a href="{{url('admin/posts/cadastrar')}}" tooltip="tooltip" title="Cadastrar Matéria Prima">
                                            <i class="fa-solid fa-file-pen"></i>
                                        </a>
                                        <a href="{{url('admin/posts/cadastrar')}}" tooltip="tooltip" title="Consultar Matéria Prima">
                                            <i class="fa-solid fa-list"></i>
                                        </a>
                                    </div>
                                </div>

                                <h1 class="mt-1 mb-3">{{posts.total}}</h1>
                                <i class="fab fa-palfed fa-3x"></i>
                            </div>
                        </div>                                   
                    </div>
                    <!--FIM ** CADASTRO DE MATÉRIA PRIMA-->

                    <!--INICIO ** COMPRAS MATÉRIA PRIMA-->
                    <div class="col-sm-6">
                        <div class="card border-0 shadow-sm mb-3">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col">
                                        <h6 class="fw-bold text-secondary">COMPRAS<BR>MATÉRIA PRIMA</h6>
                                    </div>
                                    <div class="col-auto text-secondary">
                                        <a href="{{url('admin/posts/cadastrar')}}" tooltip="tooltip" title="Cadastrar Pedido de Compra">
                                            <i class="fa-solid fa-file-pen"></i>
                                        </a>
                                        <a href="{{url('admin/posts/cadastrar')}}" tooltip="tooltip" title="Consultar Compras">
                                            <i class="fa-solid fa-list"></i>
                                        </a>
                                        <a href="{{url('admin/posts/cadastrar')}}" tooltip="tooltip" title="Histórico de Compras">
                                            <i class="fa-solid fa-list"></i>
                                        </a>
                                    </div>
                                </div>                                
                                <h1 class="mt-1 mb-3">{{posts.total}}</h1>
                                <i class="fa fa-cart-plus fa-3x" aria-hidden="true"></i>
                            </div>
                        </div>                                   
                    </div>
                    <!--FIM ** COMPRAS MATÉRIA PRIMA-->

                    <!--INICIO ** CURVA ABC / CONTROLADOR DE TAREFAS E DIADRAMA PARETO-->
                    <div class="col-sm-6">
                        <div class="card border-0 shadow-sm mb-3">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col">
                                        <p class="fw-bold text-secondary">+CONTR.TAREFAS<BR>++DIAGRAMA PARETO<BR>+++CURVA ABC</p>
                                    </div>
                                </div>
                                <i class="fas fa-chart-line fa-2x"></i>
                                <i class="fa-sharp fa-light fa-list-check" style="color: #f3f4f7;"></i>
                            </div>
                        </div>                                   
                    </div>
                    <!--FIM ** A DESENVOLVER-->
                </div>
            </div>
        </div>
        <!--FIM-->

        <!--INICIO QUADROS DE AVISOS-->

        <!--INICIO PEDIDOS DE COMPRAS-->
        <div class="col-xl-6 col-xxl-7 mb-4">
            <div class="card border-0 shadow-sm">
                <div class="card-header bg-white border-0 d-flex justify-content-between align-items-center mt-2">
                    <div>
                        <h6 class="fw-bold text-secondary">
                            Últimos Pedidos de Compras
                        </h6>                          
                    </div>
                    <a href="{{url('admin/posts/cadastrar')}}" class="fs-5" tooltip="tooltip" title="Cadastrar Pedido de Compra">
                        <i class="fa-solid fa-circle-plus"></i>
                    </a>
                </div>
                <div class="card-body">
                    {% if posts.posts %}
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Receitas</th>
                                    <th class="text-center">Visitas</th>
                                    <th class="text-center">Ação</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for post in posts.posts %}
                                <tr>
                                    <th>

                                        <div>
                                            <span>
                                                {% if post.status == 1 %}
                                                <i class="fa-solid fa-circle text-success" tooltip="tooltip" title="Ativo"></i>
                                                {% else %}
                                                <i class="fa-solid fa-circle text-danger" tooltip="tooltip" title="Inativo"></i>
                                                {% endif %}
                                            </span>
                                            {{resumirTexto(post.titulo, 100)}}
                                        </div>
                                        <small class="text-muted fw-normal">
                                            Escrito por {{post.usuario.nome}} {{ contarTempo(post.cadastrado_em) }} {{post.categoria.titulo}}
                                        </small>
                                    </th>
                                    <td class="text-center">{{post.visitas}}</td>
                                    <td class="text-center">

                                        <a href="{{ url('admin/posts/editar/'~post.id) }}" tooltip="tooltip" title="Editar">
                                            <i class="fa-solid fa-pen m-1"></i>
                                        </a>
                                        <a href="{{ url('admin/posts/deletar/'~post.id) }}" tooltip="tooltip" title="Deletar">
                                            <i class="fa-solid fa-trash m-1"></i>
                                        </a>

                                    </td>
                                </tr>
                                {%endfor%}
                            </tbody>
                        </table>
                    </div>
                    {% else %}
                    <div class="alert alert-warning" role="alert">
                        Nenhum pedido cadastrado para exibir!
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
        <!--FIM** PEDIDOS DE COMPRAS-->

        <!--INICIO **COMPRAS POR FORNECEDOR-->
        <div class="col-sm-6 col-md-6 col-xl-4 mb-4">
            <div class="card border-0 shadow-sm  h-100">
                <div class="card-header bg-white border-0 mt-2">
                    <h6 class="fw-bold text-secondary">
                        Compras por Fornecedor
                    </h6> 
                </div>
                <div class="card-body">
                    <div class="alert alert-warning" role="alert">
                        Nenhum registros a exibir!
                    </div>
                </div>
            </div>
        </div>
        <!--FIM DOS 20+ COMPRADOS-->

        <!--INICIO ** OS 20+ PRODUTOS MAIS COMPRADOS X MÊS-->
        <div class="col-sm-6 col-md-6 col-xl-4 mb-4">
            <div class="card border-0 shadow-sm  h-100">
                <div class="card-header bg-white border-0 mt-2">
                    <h6 class="fw-bold text-secondary">
                        Os 20+ Comprados x Mês
                    </h6> 
                </div>
                <div class="card-body">
                    <div class="alert alert-warning" role="alert">
                        Nenhum registros a exibir!
                    </div>
                </div>
            </div>
        </div>
        <!--FIM DOS 20+ COMPRADOS-->

        <!--COMPRAS POR DEPARTAMENTOS-->
        <div class="col-sm-6 col-md-12 col-xl-4 mb-4">
            <div class="card border-0 shadow-sm  h-100">
                <div class="card-header bg-white border-0 mt-2">
                    <h6 class="fw-bold text-secondary">
                        Compras por Departamentos
                    </h6> 
                </div>                   
                <div class="card-body">
                    <div class="alert alert-warning" role="alert">
                        Nenhum registros a exibir!
                    </div>
                </div>
            </div>
        </div>
        <!--FIM-->

    </div>


</div>

{% endblock %}